#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    right: auto;
    bottom: auto;
    min-width: 99%;
    min-height: 99%;
    border-radius: 15px;
  }

  input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    color: #f1f1f1;
  }

  
  
  